<!DOCTYPE html>
<html>
  <head>
    <title>Justice In Trees</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">Justice in Trees</a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#two">Portfolio</a></li>
                  <li><a href="#footer">Contact Me</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h2>Justice In Trees</h2>
          <p>
            Tree Removal
          </p>
          <p>
            Mulching
          </p>
          <p>
            Landscaping
          </p>
        </div>
        <a href="#one" class="more scrolly">Learn More</a>
      </section>

      <!-- One -->
      <section id="one" class="wrapper style1 special">
        <div class="inner">
          <header class="major">
            <h2>
              Built on Trust<br />
              Built on Integrity
            </h2>
            <p>
              J.I.T. treats their clients with the care and attention they
              deserve!<br />
              Every job gets completed with a thorough eye for detail as we
              transform your yard to give it the justice it deserves.
            </p>
          </header>
          <ul class="icons major">
            <li>
              <span class="fas fa-tree major style1"
                ><span class="label"></span
              ></span>
            </li>
            <li>
              <span class="fas fa-tree major style2"
                ><span class="label"></span
              ></span>
            </li>
            <li>
              <span class="fas fa-tree major style3"
                ><span class="label"></span
              ></span>
            </li>
          </ul>
        </div>
      </section>
      <!-- Two -->

      <section id="two" class="wrapper alt style2">
        <section class="spotlight">
          <div class="tech-slideshow">
            <div class="mover-1"></div>
          </div>
          <div class="content">
            <h2>Landscaping<br /></h2>
            <p>
              From small to large, we are equipped with the right tools for the
              job. We come prepared, we work clean, and we always finish strong!
            </p>
          </div>
        </section>
        <section class="spotlight">
          <div class="tech-slideshow1">
            <div class="mover-1"></div>
          </div>
          <div class="content green">
            <h2>Tree Service Done Right<br /></h2>
            <p>
              J.I.T. will perform a thorough inspection of your trees, diagnose
              trouble areas and make tree service recommendations that will help
              you obtain the landscape of your dreams.
            </p>
          </div>
        </section>

        <section class="spotlight">
          <div class="tech-slideshow2">
            <div class="mover-1"></div>
          </div>
          <div class="content">
            <h2>
              We Care <br />
              For Your Communities
            </h2>
            <p>
              Everything we do is with a united committment to making the
              community a better place for all. Together we can make an impact.
            </p>
          </div>
        </section>
      </section>

      <!-- Three -->
      <section class="spotlight">
        <div class="tech-slideshow3">
          <div class="mover-1"></div>
        </div>
        <div class="content green">
          <h2>Tree Service Done Right<br /></h2>
          <p>
            J.I.T. will perform a thorough inspection of your trees, diagnose
            trouble areas and make tree service recommendations that will help
            you obtain the landscape of your dreams.
          </p>
        </div>
      </section>
      <!-- CTA -->
      <!-- <section id="cta" class="wrapper alt style2">
        <div class="tech-slideshow3">
          <div class="mover-1"></div>
        </div>
      </section> -->

      <!-- Footer -->
      <section id="footer">
        <div class="inner">
          <h2 id="major" class="major">Get in touch</h2>
          <p>
            Interested in a quote or have questions? Contact me below.
          </p>
          <form method="POST" action="https://formspree.io/xnqbdpyd">
            <div class="fields">
              <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="field">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" name="phoneNumber" id="phoneNumber" />
              </div>
              <div class="field">
                <label for="email">Email</label>
                <input type="email" name="replyTo" id="email" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li>
                <input
                  id="send"
                  name="End of Message. Enjoy your day!"
                  type="submit"
                  value="Send Message"
                />
              </li>
            </ul>
          </form>
          <div class="icon solid fa-phone"><br />(720) 355-0661</div>
          <div class="icon solid fa-envelope">
            <br />
            <a href="mailto:justiceintrees2019@gmail.com"
              >justiceintrees2019@gmail.com</a
            >
          </div>
          <div class="icon brands fa-google">
            <br />
            <a href="#">google.com/justiceintrees</a>
          </div>
          <br />
          <div class="copyright">
            <p>&copy; Justice In Trees</p>
          </div>
          <div class="icon brands fa-linkedin">
            Design:
            <a href="http://linkedin.com/in/daniel-milano-90088b18a/"
              >Daniel Milano</a
            >
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
